.footerside1{
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: auto;
}

.select_input_1{
    display: inherit;
    width: calc(100% - 280px);
    background-color: antiquewhite;
}

.form-step1 {
    display: none;
}
.form-step1.active1 {
    display: block;
}
.thankyou1{
    display: none;
}
.thankyou1.active1{
    display: block;
}
label{
    display: block;
    margin-top: 15px;
}
select, input[type="text"], input[type="email"], input[type="tel"], textarea[type="message"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.error1{
    color: red;
    font-size: 13px;
    display: none;
}
.checkbox-group1{
    margin-top: 20px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.disabled{
    background-color: aliceblue;
    cursor: not-allowed;
}


