
@import "tailwindcss";


/*for sidebar*/
.sidebar{
    width: 112px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    
}

.sidebar1{
    padding: 10px;
    display: grid;
    height: 100%;
    column-gap: .625rem;
    align-items: center;
    max-width: 320px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
 
/*inside the sidebar
.sidebar a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;  
}*/

.logo_main{
    display: flex;
    width: auto;
    height: 100%;
    align-items:flex-start;
}

.image{
    width: 90px; 
}

.spacing{
    background-color: none;
    height: 41%;
}

/*menu button*/

.menu-img{
    width: 40px; 
}

.qs-img{
    width: 40px;
}

.menu1{
    height: 60px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu_1{
    font-size: 10px;
    display: grid;
    text-decoration: none;
    color: rgb(38, 38, 38);
    
}

.overlay1{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(255, 251, 251);
    overflow-x: hidden;
    transition: 0.2s;
}

.menu2{
    position: absolute;
    bottom: 30px;
    align-self: center;
    left: 1.6rem;
    width: 10px;
    cursor: pointer;
}

.menu_2{
    font-size: 10px;
    display: grid;
    text-decoration: none;   
    color: rgb(38, 38, 38);
}

/* quick search button */

.btnbackground{
    display: inline-block;
    font-style: arial;
    text-decoration: none;
    outline: none;
}



body{
    height: 100%;
    margin: 0;
    font-family: "Albert Sans", sans-serif;
}

.message_chat{
    min-height: 96px;
    min-width: 100px;
    width: 92px;
    height: 92px;
    right: 0;
    display: initial;
    z-index: 7;
    position: fixed;
    bottom: 0;

}

.inside_message_chat{
    background-color: #10613a;
    padding: 10px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.message_style{
    position: relative;
    left: 5px;
    color: #ffffff;
    font-size: 2.5rem;
    cursor: pointer;
}

.popup_chat{
    display: none;
    height: 700px;
    transition: 0.25s;
    min-width: 0px;
    right: 10rem;
    position: fixed;
    bottom: 10rem;
    background-color: beige;
    position: absolute;
}

/* For Responsive chat ui */
/* @media(max-height: 1070px){
    .popup_chat{
    height: 500px;
    transition: 0.25s;
    min-width: 0px;
    right: 10rem;
    display: initial;
    position: fixed;
    bottom: 10rem;
    background-color: rgb(176, 176, 47);
    position: absolute;
    z-index: 8;
}
} */

.location_title{
    margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.location_title_inside{
    font-size: 40px;
    visibility: visible;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}


/* Location Swiper */
.locations_swipe{
   height: 73%; 
}

.mySwiper2{
    width: 100%;
    height: 100%;
}

.mySwiper2 .swiper-slide{
    background-color: aqua;
}

.mySwiper2 .swiper-slide img{
    width: 100%;
    height: 80%;
}


/* Estates Swiper */
.estates_swipe{ 
    height: 73%;  
}

.mySwiper3{
    width: 100%;
    height: 100%;
}
.mySwiper3 .swiper-slide{
    background-color: #2f443a;
}

/* Properties Swiper */
.properties_swipe{
    height: 73%;
}

.mySwiper4{
    height: 100%;
    width: 100%;
}

.mySwiper4 .swiper-slide{
    background-color: #2f8336;
}
/*------for sidebar-nav-----------*/

.overlay{
    display: grid;
    grid-template-columns: minmax(320px, 20%) 1fr;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    z-index: 3;
    transition: 0.2s;
    
}

.sidebar_nav{
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: rgb(197, 196, 196);
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
    row-gap: .625rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: min-content;
    display: grid;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 255px;
}

.logo_of_ortigas{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-right: 0;
    column-gap: .625rem;
    justify-content: center;
}
.logo_ortigas_btn{
    width: 14rem;
    margin-right: 30px;
    cursor: pointer;
}
.logo_ortigas_long{
    width: 100%;
}

.all_nav_items{
    padding-left: 0;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom: 0;
}
.nav_home a{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #aca7a7;
}
.nav_home a:hover{
    color: black;
}

/* Navigator of the swiper js */
.nav_items{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #aca7a7;
    display: grid;
    grid-template-columns: 1fr max-content;
}

.nav_items i{
    font-size: 1.3rem;
}

.nav_items:hover{
    color: black;
}
.nav_items.active {
    color: rgb(0, 0, 0);
}

.nav_aboutus a{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #aca7a7;
}
.nav_aboutus a:hover{
    color: black;
}
.nav_contactus a{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #aca7a7;
}
.nav_contactus a:hover{
    color: black;
}

.type_locations{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.type_locations input{
    outline: none;
    height: 27px;
    padding-right: .5rem;
    padding-left: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-style: solid;
    border-width: 1px;
    width: 80%;
}
.type_locations button{
    height: 32px;
    width: 32px;
    padding: 0;
    top: 22.8rem;
    left: 2.3rem;
    font-size: 24px;
    position: absolute;
    border-width: 0px;
    text-transform: none;
    cursor: pointer;
    -webkit-appearance: button;
}
.nav_buttons{
    display: flex;
    flex-direction: row;
}
.inquire_btn_nav{
    margin-right: 15px;
    margin-bottom: 8px;
    font-size: 12px;
    width: 50%;
    height: 44px;
    padding: 0;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #105230;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    background-color: #105230;
}
.inquire_btn_nav:hover{
    background-color:#2f443a ;
    transition: 0.4s;
    color: #ffffff;
}
.schedule_btn_nav{
    margin-right: 3px;
    font-size: 12px;
    width: 50%;
    height: 44px;
    padding: 0;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    display: inline-block;
    cursor: pointer;
}
.schedule_btn_nav:hover{
    background-color: #48514d;
    transition: 0.4s;
    color: #ffffff;
}

.mainbody_nav{
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    padding-right: 0;
    padding-left: 3rem;
    padding-top: 0;
    padding-bottom: 3rem;
    overflow-y: auto;
    /* width: 100%; */
    max-height: 100vh;
    top: 0;
    left: 0;
}



/* navigation buttons */


.closebtn{
    top: .625rem;
    cursor: pointer;
    right: .625rem;
    position: absolute;
    line-height: 1;
    font-size: 2.5rem;
    border-width: 0px;
    text-decoration: none;
    color: #03640b;
}

.locationsTitle{
    padding-right: 3rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}
.locationsTitle h2{
    font-size: 40px;
    visibility: inherit;
    color: #03640b;
    font-weight: 300;
}
.locationsTitle_nav{
    text-align: right;  
}
.locationsTitle_nav a{
    text-decoration: none;
    letter-spacing: .1em;
    color: #03640b;
    cursor: pointer;
}
.locationsTitle_nav i{
    position: relative;
    top: 0.1rem;
    left: 1rem;
    font-size: 1.5rem;
    
}

@media(max-width: 1380px){
    .all-location-nav{
        position: absolute;
        left: 84vw;
    }
}

.closebtn1{
    position: absolute;
    left: 98%;
    font-size: 40px;
    text-decoration: none;
    color: #113814;
}









/* inside of the sidebar */
.page{
    background-color: #113814;
    display: grid;
    grid-template-columns: 112px auto;
}

/* MAIN BODY OF THE WHOLE PAGE */
.mainpage{
    grid-column-start: 2;
    background-color: rgb(241, 241, 241);;
}

.popup_chat{
    background-color: beige;
    position: absolute;
    z-index: 8;
}

/* CONTAINER_1 */
.container_1{ /* html */
    margin: 0;
    display: grid;
    width: 100%;
    height: 100vh;
}

.flex_items{
    position: absolute;
    top: 40px;
    right: 6rem;
    z-index: 2;
}

.mouse_scroll{
    position: absolute;
    left: 15%;
    bottom: 16px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 84px;
    z-index: 2;
}

.mouse_scroll picture{
    color: #ffffff;
}
.mouse_scroll p{
    font-size: 13px;
    width: 1px;
    text-transform: uppercase;
    margin-right: 2.3rem;
    color: white;
}   
.mouse_scroll div{
    position: relative;
    top: 5px;
    color: white;
}


.inquire-btn{
/*  */
}

.inquire-btn1{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    border-style: solid;
    border-width: 0.1rem;
    padding: 13px;
    padding-left: 40px;
    padding-right: 40px;
}

.fb_btn{  
}
.fb_btn1 {
    color: #ffffff;
}

.insta_btn{
}
.insta_btn1{
    color: #ffffff;
}

.youtube_btn{
}
.youtube_btn1{
    color: #ffffff;
}

.contact_btn{
    position: relative;
    bottom: 10px;
}

.contact_btn1{
    display: flex;
    text-decoration-line: none;
    gap: 10px;
    color: #ffffff;
}
.contact_btn1 .fa{
    position: relative;
    top: 10px;
}

.contact_btn_num{
    font-size: 14px;
    color: #e7e4e4;
}

.logo_in_backgroundimage{
    display: flex;
    gap: 30px;
}

.mySwiper1{
    width: 100%;
    height: 100%;
}

.mySwiper1 .swiper-slide img{
    height: 100%;
}

.slide1_title{
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 6;
}
.slide1_inside{
    color: #ffffff;
    text-align: left;
}

.slide1_inside h2{
    font-size: 20px;
    line-height: 1.75rem;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}

.slide1_inside h1{
    font-size: 6vw;
    padding: 0;
    line-height: 1;
    margin: 0;
    font-weight: 200;
    width: 59rem;
}

.learn_more_slide1{
    text-decoration-line: none;
    color: #105230;
    
}

.inside_learnmore_slide1{
    align-items: center;
    margin-top: 30px;
    height: 50px;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 20rem;
    background-color: #ffffff;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.slide2_title{
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 6;
}
.slide2_inside{
    color: #ffffff;
    text-align: left;
}
.slide2_inside h2{
    font-size: 20px;
    line-height: 1.75rem;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}
.slide2_inside h1{
    font-size: 6vw;
    padding: 0;
    line-height: 1;
    margin: 0;
    font-weight: 200;
    width: 61rem;
}

.learn_more_slide2{
    text-decoration-line: none;
    color: #105230;
}

.inside_learnmore_slide2{
    align-items: center;
    margin-top: 30px;
    height: 50px;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 20rem;
    background-color: #ffffff;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.slide3_title{
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 6;
}

.slide3_inside{
    color: #ffffff;
    text-align: left;
}

.slide3_inside h2{
    font-size: 20px;
    line-height: 1.75rem;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}

.slide3_inside h1{
    font-size: 6vw;
    padding: 0;
    line-height: 1;
    margin: 0;
    font-weight: 200;
    width: 54rem;
}

.learn_more_slide3{
    text-decoration-line: none;
    color: #105230;
}

.inside_learnmore_slide3{
    align-items: center;
    margin-top: 30px;
    height: 50px;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 20rem;
    background-color: #ffffff;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.slide4_title{
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 6;
}

.slide4_inside{
    color: #ffffff;
    text-align: left;
}

.slide4_inside h2{
    font-size: 20px;
    line-height: 1.75rem;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}

.slide4_inside h1{
    font-size: 6vw;
    padding: 0;
    line-height: 1;
    margin: 0;
    font-weight: 200;
    width: 38rem;
}

.learn_more_slide4{
    text-decoration-line: none;
    color: #105230;
}

.inside_learnmore_slide4{
    align-items: center;
    margin-top: 30px;
    height: 50px;
    font-size: .875rem;
    line-height: 1.25rem;
    width: 20rem;
    background-color: #ffffff;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination1{
    position: relative;
    bottom: 100px;
    
}



/* CONTAINER_2 */

.container_2{
    background-color: #f6f2f2;
    display: flex;
    flex-grow: 1;
    padding-bottom: 6vw;
}

.guard{
    width: 20rem;
    background-color: #685a5a;
}

/*--------box 1---------*/
.container_column{
    margin-top: 7vh;
    margin-left: 11rem;
}


.titlereimagine{
    background-color: #ffffff;
    line-height: 3.5rem;
    color: #114315;
    font-size: 50px;
    width: 21vw;
}

.column_description{
    font-size: 17px;
    width: 21vw;
    background-color: rgb(255, 255, 255);
}

.ninety_yrs_img{
    width: 23vw;
}





.container_column_1{
    margin-top: 11vh;
    margin-left: 1vw;
}

.ortigasland_img{
    width: 22vw;
}

.column_description_1{
    font-size: 17px;
    width: 21vw;
}


.container_column_2{
    margin-top: 10vh;
    margin-left: 2vw;
}

.column_description_2{
    font-size: 17px;
    width: 21vw;
}

.lwp_img{
    width: 23vw;
}


@media(max-width: 1440px){
    .container_column{
        margin-left: 16rem;
    }   
    .container_column_1{
        margin-left: 3vw;
    } 
}


/* CONTAINER_3 */


.container_3{
    background-color: #f6f2f2;
    height: 99.8vh;
}

.container_3_1{
    display: flex;
}

.estates_img{
    width: 46vw;
    height: 26vw;
    overflow: hidden;
    /* background for check spacing */
    background-color: #114315;
    
}

.estates_banner_img{
    width: 100%;
    
}

.estate_description{
    position: relative;
    bottom: 2rem;
    padding: 1.25rem;
    width: 17rem;
    margin-left: 0.5rem;
}

.estate_paragraph{
    width: 100px;
}

.estate_paragraph_1{
    position: relative;
    bottom: 10px;
    letter-spacing: .05em;
    line-height: 1.51em;
    font-size: 15px;
    width: 688px;
    /* background-color: #056e4b; */
}

.estate_title{
    /* position: relative; */
    /* bottom: 2rem; */
  
}

.estate_title_1{
    color: #114315;
    font-size: 45px;
}


.btn_estates{
    position: relative;
    color: #ffffff;
    background-color: #056e4b;
    font-size: 15px;
    top: 1.5vw;
    padding: 17px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn_estates:hover{
    background-color: #313131;
    transition: 0.5s;
}


.container_3_2{
    position: relative;
    bottom: 175px;
}

.container_3_2_1{/*Overflow while responsive*/
    overflow-x: scroll;
    height: 30rem;
}

.container_3_2_inside{ 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}



/* ORTIGAS CENTER BOX */

.ortigas_center{
    background-color: #f3eeee;
}

.ortigas_title{
    padding: 14px;
}


.ortigas_center_title{
    color: #114315;
    font-size: 20px;
    font-weight: 710;
    line-height: 2rem;
    margin: 0;
}

.pasig_city{
    color: #114315;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.pasig_city_estate_img{
    width: 15rem;
}

.pasig_city_description{
    padding: 0.75rem;
}

.pasig_city_paragraph{
    position: relative;
    top: 10px;
    height: 145px;
    width: 100px;
}

.pasig_city_paragraph_1{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .05rem;
    font-size: 14px;
    height: 139px;
    margin: 0;
    width: 227px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.learn_button_1{
    position: relative;
    margin-top: 5px;
    left: 6rem;
}

.learn_btn_1{
    color: rgb(170 136 69);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.arrow_1{
    position: relative;
    font-size: 20px;
    margin-left: 10px;
}

/* ORTIGAS EAST BOX */

.ortigas_east{
    position: relative;
    top: 47px;
    margin-left: 1.2rem;
    background-color: #f3eeee;
}

.ortigas_east_title{
    padding: 14px;
}

.ortigas_east_title_1{
    color: #114315;
    font-size: 20px;
    font-weight: 710;
    line-height: 2rem;
    margin: 0;
}

.pasig_city_1{
    color: #114315;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.ortigas_east_estate_img{
    width: 15rem;
}

.ortigas_east_description{
    padding: 0.75rem;
}

.ortigas_east_paragraph{
    position: relative;
    top: 10px;
    height: 145px;
    width: 100px;/*for adjusting the description of each column*/
}

.ortigas_east_paragraph_1{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .05em;
    font-size: 14px;
    height: 139px;
    margin: 0;
    width: 227px;
}

.learn_button_2{
    position: relative;
    margin-top: 5px;
    left: 6rem;
}

.learn_btn_2{
    color: rgb(170 136 69);
    font-size: 15px;
    font-weight: 600;
}

/* CAPITOL COMMONS BOX */

.capital_commons{
    margin-left: 1.2rem;
    background-color: #f3eeee;
}

.capital_commons_title{
    padding: 14px;
}


.capital_commons_title_1{
    color: #114315;
    font-size: 20px;
    font-weight: 710;
    line-height: 2rem;
    margin: 0;
}

.pasig_city_2{
    color: #114315;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.capital_commons_img{
    width: 15rem;
}

.capital_commons_description{
    padding: 0.75rem;
}

.capital_commons_paragraph{
    position: relative;
    top: 10px;
    height: 145px;
    width: 100px;
}

.capital_commons_paragraph_1{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .05em;
    font-size: 14px;
    height: 139px;
    margin: 0;
    width: 227px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.learn_button_3{
    position: relative;
    margin-top: 5px;
    left: 6rem;
}

.learn_btn_3{
    color: rgb(170 136 69);
    font-size: 15px;
    font-weight: 600;
}

/* GREENHILLS CENTER */

.greenhills_center{
    position: relative;
    top: 47px;
    margin-left: 1.2rem;
    background-color: #f3eeee;
}

.greenhills_center_title{
    padding: 14px;
}

.greenhills_center_title_1{
    color: #114315;
    font-size: 20px;
    font-weight: 710;
    line-height: 2rem;
    margin: 0;
}

.san_juan_city{
    color: #114315;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.greenhills_center_img{
    width: 15rem;
}

.greenhills_center_description{
    padding: 0.75rem;
}

.greenhills_center_paragraph{
    position: relative;
    top: 10px;
    height: 145px;
    width: 100px;
}

.greenhills_center_paragraph_1{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .05em;
    font-size: 14px;
    height: 139px;
    margin: 0;
    width: 227px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.learn_button_4{
    position: relative;
    margin-top: 5px;
    left: 6rem;
}

.learn_btn_4{
    color: rgb(170 136 69);
    font-size: 15px;
    font-weight: 600;
}

/* CIRCULO VERDE */

.circulo_verde{
    margin-left: 1.2rem;
    background-color: #f3eeee;
}

.circulo_verde_img{
    width: 15rem;
}

.circulo_verde_title{
    padding: 14px;
}

.circulo_verde_title_1{
    color: #114315;
    font-size: 20px;
    font-weight: 710;
    line-height: 2rem;
    margin: 0;
}

.quezon_city{
    color: #114315;
    line-height: 1rem;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.circulo_verde_description{
    padding: 0.75rem;
}

.circulo_verde_paragraph{
    position: relative;
    top: 10px;
    height: 145px;
    width: 100px;
}

.circulo_verde_paragraph_1{
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .05rem;
    font-size: 14px;
    height: 139px;
    margin: 0;
    width: 227px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.learn_button_5{
    position: relative;
    margin-top: 5px;
    left: 6rem;
}

.learn_btn_5{
    color: rgb(170 136 69);
    font-size: 15px;
    font-weight: 600;
}

/* CONTAINER_4 */



.container_4{

}

.container_4_1{
    position: relative;
    height: 67vw;
    max-height: 1300px;
}

.container_4_picture{
    position: absolute;
    top: 0;
    height: calc(100% - 320px);
    width: 100%;
}

.container_4_img{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.Experience_life{
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 560px;
    right: 0;
   
}

.two_box_flex{
    display: flex;
}

.lwp_box{
    background-color: rgba(173, 133, 3, 0.618);
    height: 240px;
    width: 100%;
}

.lwp{
    position: relative;
    top: 90px;
    width: 100px;
}

.lwp_1{
    color: #ffff;
    width: 155px;
    font-size: 17px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}

.elm_box{
    background-color: rgba(255, 255, 255, 0.712);
    height: 260px;
    width: 100%;
}

.elm{
    position: relative;
    top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.elm_1{
    width: 19vw;
    font-size: 45px;
    font-weight: 800;
    line-height: 3rem;
}

.properties_description{
    position: relative;
    bottom: 20px;
    background-color: #ffffff;
    height: 224px;
    padding: 48px;
}

.properties_title{
    margin: 0;
    margin-bottom: 1.5rem;
}

.properties_title_1{
    color:#17633c;
    margin: 0;
    font-size: 33px;
    font-weight: 800;
}

.properties_paragraph{
    width: 100px;
    margin-bottom: 3rem;
}

.properties_paragraph_1{
    width: 520px;
}

.browse_properties{
    background-color: #115d2a;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 210px;
    text-align: center;
}

.browse_properties_1{
    color: #f6f2f2;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
}

.two_image{
    position: absolute;
    height: 320px;
    width: 50%;
    bottom: 0px;
    left: 0px;
}

.two_image_1{
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    display: flex;
}

.two_image_1_1{
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.two_mage_1_1_img{
    width: 100%;
    height: 100%;
}

.two_image_2_1{
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.two_image_2_1_img{
    width: 100%;
    height: 100%;
}

/* CONTAINER_5 */

.container_5{
   display: grid;
   height: 50vw;
   background-color: #ffffff;
}

.container_5_1{
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

.container_5_1 h2{
    color: #105230;
    padding-top: 60px;
    font-size: 50px;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
}

.latestnews_paragraph_title{
    /* background-color: #056e4b; */
    
}


.latest_box{
    position: relative;
    left: 400px;
    /* background-color: #313131; */
    width: 54%;
}

/* SWIPER */

.mySwiper {
    position: relative;
    top: 10px;
    bottom: 1vw;
    width: 90%;
    height: 90%;
    }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}



.swiper-pagination{
    height: 1px;
}


.pagination_bullet{
    padding: 1px 60px;
    border-radius: 0;
    opacity: 1;
    background-color: rgb(242, 242, 242);
}

.pagination_bullet1{
    padding: 1px 60px;
    border-radius: 0;
    opacity: 1;
    background-color: rgb(242, 242, 242);
}

.bulletActive{
    background: #ab7201;
}




.swiper_1{
    text-align:left;
}
.swiper_1 h3{
    padding-top: 15px;
    font-size: 23px;
}
.rm_btn{
    position: relative;
    bottom: 15px;
}
.rm_btn a{
    font-size: 15px;
    color: #ab7201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    text-decoration: none;
}

.swiper_2{
    text-align: left;
}
.swiper_2 h3{
    padding-top: 15px;
    font-size: 23px;
}
.rm_btn_1{
    position: relative;
    bottom: 15px;
}
.rm_btn_1 a{
    font-size: 15px;
    color: #ab7201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    text-decoration: none;
}

.swiper_3{
    text-align: left;
}
.swiper_3 h3{
    padding-top: 15px;
    font-size: 23px;
}
.rm_btn_2{
    position: relative;
    bottom: 15px;
}
.rm_btn_2 a{
    font-size: 15px;
    color: #ab7201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    text-decoration: none;
}

.swiper_4{
    text-align: left;
}
.swiper_4 h3{
    padding-top: 15px;
    font-size: 23px;
}
.rm_btn_3{
    position: relative;
    bottom: 15px;
}
.rm_btn_3 a{
    font-size: 15px;
    color: #ab7201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    text-decoration: none;
}

.swiper_5{
    text-align: left;
}
.swiper_5 h3{
    padding-top: 15px;
    font-size: 23px;
}
.rm_btn_4{
    position: relative;
    bottom: 15px;
}
.rm_btn_4 a{
    font-size: 15px;
    color: #ab7201;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    text-decoration: none;
}
/* JUST THE ARROW FOR BTN */
.arrow {
  border: solid #ab7201;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 15px;
}
.right{
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.morestories_btn{
    position: relative;
    top: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 130px;
}

.ms_btn{
    background-color: #105230;
    letter-spacing: 0.1rem;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.container_6{
    background-color: #ffffff;
}

.inside_container_6{
    position: relative;
    height: 540px;
    width: 90%;
    margin: 0;
}

.img_contact_1{
    width: 80%;
    position: relative;
    height: 480px;
    object-position: top;
    object-fit: cover;
}

.banner_contact{
    z-index: 2;
    bottom: 20px;
    width: 80%;
    max-width: 720px;
    height: auto;
    right: 0px;
    position: absolute;
}

.inside_banner_contact{
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #ffffff;
    width: 100%;
    padding: 2.5rem;
    height: 15rem;
    
}

.contact_title{
    color: #113814;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 35px;
    font-weight: 700;

}
.selection_dropdown{
    margin-top: 10px;
    font-size: 16px;
}

.category_selection{
    margin-bottom: 0;
    line-height: 20px;
}

.selection_items{
    width: 40rem;
    height: 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    padding: .5rem;
}


.letsgo_nav{
    position: relative;
    top: 40px;
}

.letsgo_btn{
    position: relative;
    top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #105230;
    text-transform: uppercase;
    color: #ffffff;
}

.container_7{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    text-align: center;
}

.footer_logo1{
    width: 16rem;
}

.boxes_container{
    margin-top: 1rem;
    padding: 10px;
    justify-content: center;
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.eachboxes{
    margin: 0;
    display: grid;
    column-gap: 1.25rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
}

/* CONTACT US */

.footer_contact{
    text-align: left;
}

.contact_footer{
    font-size: 25px;
}


.contact_boxes h4{
    font-size: 1rem;
}

.contact_boxes p{
    position: relative;
    bottom: 18px;
    width: 11.9rem;
    word-spacing: 0.3rem;
    font-size: 1rem;
    line-height: 1.5rem;
}


.contact_boxes1 h4{
    font-size: 1rem;
}

.contact_boxes1 p{
    position: relative;
    bottom: 18px;
    font-size: 1rem;
}


.logo_media{
    position: relative;
    bottom: 18px;
    display: flex;
    column-gap: 2rem;
}
.logo_media i{
    font-size: 23px;
    color: #000;
}

/* USEFUL LINKS */

.footer_useful_links{
    text-align: left;
}
.usefullinks_footer{
    font-size: 25px;
}
.usefullinks_boxes{
    display: grid;
}
.usefullinks_boxes a{
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.6rem;
    color: #105230;
}
.usefullinks_boxes a:hover{
    text-decoration:underline;
}

/* FOOTER ESTATES */
.footer_estates{
    text-align: left;
}
.estates_footer{
    font-size: 25px;
}
.estates_boxes{
    display: grid;
}

.estates_boxes a{
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.6rem;
    color: #105230;
}
.estates_boxes a:hover{
    text-decoration:underline;
}

/* FOOTER PROPERTIES */
.footer_properties{
    text-align: left;
}
.properties_footer{
    font-size: 25px;
}
.properties_boxes{
    display: grid;
}
.properties_boxes a{
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.6rem;
    color: #105230;
}
.properties_boxes a:hover{
    text-decoration:underline;
}

.footer_rights{
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 0;
}
/*-------------------------------------------*/


/*sidebar responsive*/
@media(max-height: 620px){

    .menu2{ 
    }
    @media(max-height: 335px){
        .sidebar1{
            row-gap: 10%;
        }
        .menu2{
            position: relative;
            top: 100px;
            font-size: 10px;
            display: grid;
            text-decoration: none;   
            color: rgb(38, 38, 38);
        }
    }
}




@media (max-height: 845px) {
    .mouse-scroll{
        position: absolute;
        top: 85%;
    }
    @media (max-height: 580px){
        .mouse-scroll{
            position: absolute;
            top: 80%;
        }
        @media (max-height: 435px){
            .mouse-scroll{
                position: absolute;
                top: 70%;
            }
            @media(max-height: 280px){
                .mouse-scroll{
                    position: absolute;
                    top: 60%;
                }
            }
        }
    }
}



/*Mobile Responsive for Web App*/

@media (max-width: 320px){
}

@media(max-width: 375){

}

@media(max-width: 425px){

}








